# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\pavel.DESKTOP-PJ3KAAU\Downloads\operating-systems--_-_- (2)\operating-systems--_-_-\1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
